@charset "UTF-8";
/*! brianzelip.github.io => zelip.me */

@import 'basscss@7.1.1.min.css';

/* from basscss */
body {
  margin: 0;
}
img {
  max-width: 100%;
}
svg {
  max-height: 100%;
}
fieldset,
input,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}
label {
  vertical-align: middle;
}
input[type='date'],
input[type='datetime-local'],
input[type='datetime'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  height: 2.25rem;
  padding: 0.5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}
select {
  line-height: 1.75;
  padding: 0.5rem;
}
select:not([multiple]) {
  height: 2.25rem;
  vertical-align: middle;
}
textarea {
  line-height: 1.75;
  padding: 0.5rem;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}
th {
  text-align: left;
  font-weight: 700;
}
td,
th {
  padding: 0.25rem 1rem;
  line-height: inherit;
}
th {
  vertical-align: bottom;
}
td {
  vertical-align: top;
}
body {
  line-height: 1.5;
  font-size: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
dl,
ol,
p,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
code,
pre,
samp {
  font-family: Source Code Pro, Consolas, monospace;
  font-size: inherit;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow-x: scroll;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}
body {
  color: #111;
  background-color: #fff;
}
a {
  color: #0074d9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
code,
pre {
  background-color: transparent;
  border-radius: 3px;
}
hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
}

/* /from basscss */

body,
.h0,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Athelas, Georgia, serif;
}
.serif {
  font-family: Athelas, Georgia, serif;
}
.vh100 {
  min-height: 100vh;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
@media (min-width: 40em) {
  .sm-align-center {
    align-items: center;
  }
  .sm-flex-row {
    flex-direction: row;
  }
  .sm-justify-center {
    justify-content: center;
  }
  .sm-justify-between {
    justify-content: space-between;
  }
}

.dusty-blue {
  color: #34495e;
}
.bg-dusty-blue {
  background-color: #34495e;
}
.h0 {
  font-size: 3rem;
}

.w-200px {
  width: 200px;
}
.mx2 {
  margin-right: 1rem;
  margin-left: 1rem;
}
.none {
  display: none;
}
.pt2 {
  padding-top: 1rem;
}
@media (min-width: 40em) {
  .sm-pt0 {
    padding-top: 0;
  }
  .sm-hide {
    display: none;
  }
  .sm-block {
    display: block;
  }
  .sm-py0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .sm-px0 {
    padding-right: 0;
    padding-left: 0;
  }
  .sm-mb0 {
    margin-bottom: 0;
  }
  .sm-mb4 {
    margin-bottom: 4rem;
  }
  .sm-m0 {
    margin: 0;
  }
  .sm-mt8 {
    margin-top: 8rem;
  }
  .sm-mt4 {
    margin-top: 4rem;
  }
  .sm-mt3 {
    margin-top: 2rem;
  }
  .sm-mt3r {
    margin-top: 3rem;
  }
  .sm-mt2 {
    margin-top: 1rem 3rem;
  }
  .sm-mr2 {
    margin-right: 1rem;
  }
  .sm-mx2 {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .sm-200px {
    width: 200px;
  }
  .h0 {
    font-size: 4.75rem;
  }
  .sm-left-align {
    text-align: left;
  }
}
@media (min-width: 52em) {
  .md-mb5 {
    margin-bottom: 5rem;
  }
  .md-mt4 {
    margin-top: 4rem;
  }
  .md-mt5 {
    margin-top: 5rem;
  }
  .md-mt6 {
    margin-top: 6rem;
  }
  .md-mt8 {
    margin-top: 8rem;
  }
  .md-250px {
    width: 250px;
  }
  .h0 {
    font-size: 5rem;
  }
}
.mt3r {
  margin-top: 3rem;
}
/*.btn:hover { text-decoration: underline; }*/
.btn:hover {
  box-shadow: 0 2px #f1c40f;
}
.green-underline:hover {
  box-shadow: 0 2px #1dc355;
}
.narrow-container {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: #1dc355;
}
.lh-1 {
  line-height: 1;
}
.lh-1p2 {
  line-height: 1.2;
}
.lh-2 {
  line-height: 2;
}
.text-decoration-none:hover {
  text-decoration: none;
}
.fw-200 {
  font-weight: 200;
}
.hello {
  color: red;
}
.goodbye {
  color: white;
}
.fuck {
  padding: 2rem;
}
.double-fuck {
  padding: 4rem;
}
.triple-fuck {
  padding: 6rem;
}
.wtf {
  color: black;
}
.fuckfuck {
  color: purple;
}
.shit {
  color: brown;
}
.real_shit {
  color: yellow;
}
