<header>      
      <img class="avatar" src="/img/avatar2.jpg" alt="Brian Zelip">
      <h1 class="name">Brian Zelip</h1>
      <h2 class="bio">web design &middot; data &middot; humanities</h2>
      <nav>
        <ul class="nav">
          <li><a class="about" href="/">about</a></li>
          <li><a class="writing" href="/writing/">writing</a></li>
          <li><a class="works" href="/works/">works</a></li>
          <li><a class="cv current" href="/cv/">cv</a></li>
        </ul>
      </nav>
    </header>