<nav>
      <ul class="nav">
        <li><a class="about {% if page.url == '/' %}current{% endif %}" href="/">about</a></li>
        <li><a class="writing {% if page.url == '/writing/' %}current{% elsif page.path contains '_posts' %}current{% endif %}" href="/writing">writing</a></li>
        <li><a class="works {% if page.url == '/works/' %}current{% endif %}" href="/works">works</a></li>
        <li><a class="cv {% if page.url == '/cv/' %}current{% endif %}" href="/cv">cv</a></li>
      </ul>
    </nav>
  </header>
    <!-- References for the above logic: https://www.youtube.com/watch?v=T7ApyjWO3nQ&list=PLWjCJDeWfDdfVEcLGAfdJn_HXyM4Y7_k-&index=11 AND http://stackoverflow.com/a/18682099/2145103 -->